<div>
Share this on &rarr;
    
<a class="social-icon social-fb" href="http://facebook.com/sharer.php?u={{ site.github.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook">
<span class="icon icon-facebook">{% include icon-facebook.svg %}</span></a>
    
<a class="social-icon social-twitter" href="http://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.github.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter"><span class="icon icon--twitter">{% include icon-twitter.svg %}</span></a>
	
<a class="social-icon social-gp" href="http://plus.google.com/share?url={{site.github.url }}{{page.url }}" rel="nofollow" target="_blank" title="Share on Google+">
<span class="icon icon-google-plus">{% include icon-google-plus.svg %}</span></a>

</div>